# yolov5 ----------------------------------------
Cython
matplotlib
numpy
opencv-python
pillow
PyYAML
scipy
tensorboard
torch
torchvision
tqdm
imutils

# additional libraries
albumentations
segmentation_models_pytorch
vietocr
gdown