# base ----------------------------------------
Cython
matplotlib
numpy
opencv-python
pillow
PyYAML
scipy
tensorboard
torch
torchvision
tqdm
imutils

albumentations
segmentation_models_pytorch
vietocr
